<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Options" version="1.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net40" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net40" />
  <package id="Solenoid.Expressions" version="1.0.0.2" targetFramework="net45" />
</packages>