<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc2-20150404-02" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc2-20150404-02" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc2-20150404-02" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="1.0.0-rc2-20150404-02" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Scripting.CSharp" version="1.0.0-rc2-20150404-02" targetFramework="net45" />
  <package id="Mono.Options" version="1.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net40" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net40" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.18-beta" targetFramework="net45" />
</packages>